<template>
<div class="home">
    <p>Homepage</p>
    <p>Bla bla</p>
    </div>
</template>
        

        <script>
        export default {
         name: 'Home',   
        }
        </script>
        
    