<template>
<div class="Home">
    <p>{Homepagesefesf}</p>
    <p>Homepagesefesf</p>
    <p>Homepagesefesf</p>
    </div>
</template>
        

        <script>
        export default {
         name: 'Home',   
        }
        </script>
      